@font-face {
  font-family: 'OriginalDiaryHand';
  src: url('../public/fonts/MaShanZheng-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

* {
  box-sizing: border-box;
}
